// app global css in SCSS form
a {
  text-decoration: none;
}

.index-banner-background {
  background: rgba(0, 18, 122, 0.65) !important;
}

.about-banner-background {
  background: rgba(18, 122, 0, 0.75) !important;
}
